nav {
    position: relative; 
    float: initial;
    margin-bottom: 150px;
}

body {
    background-image: url('https://ku.edu/sites/default/files/2019-01/Fraser_img.jpg');
}

#divList {
    color: #ffff00;
  
}
button {
    float: right;
    margin-bottom: 50px;
}
#info {
    margin-top: 100px;
    background-color: #0d47a1;
    color: white;
    display: block;
    width: 100%;
}